In [1]:
# import block 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
import itertools
import os

In [2]:
# reading the data 
data_set = pd.read_excel("gtd_70to94_0617dist.xlsx ")

##Subseting the data by removing Unknows form target variable

In [3]:
data_set = data_set[data_set.gname != 'Unknown' ] # removed unknows as that is the target variable

## Checking dimension of the data set

In [4]:
data_set.shape

(39945, 135)

In [5]:
# total number of gang names
len(list(set(list(data_set.gname.values))))

1978

In [6]:
data_set.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>eventid</th>
      <th>iyear</th>
      <th>imonth</th>
      <th>iday</th>
      <th>approxdate</th>
      <th>extended</th>
      <th>resolution</th>
      <th>country</th>
      <th>country_txt</th>
      <th>region</th>
      <th>...</th>
      <th>addnotes</th>
      <th>scite1</th>
      <th>scite2</th>
      <th>scite3</th>
      <th>dbsource</th>
      <th>INT_LOG</th>
      <th>INT_IDEO</th>
      <th>INT_MISC</th>
      <th>INT_ANY</th>
      <th>related</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>197000000001</td>
      <td>1970</td>
      <td>7</td>
      <td>2</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>58</td>
      <td>Dominican Republic</td>
      <td>2</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>PGIS</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>197000000002</td>
      <td>1970</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>130</td>
      <td>Mexico</td>
      <td>1</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>PGIS</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>197001010002</td>
      <td>1970</td>
      <td>1</td>
      <td>1</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>217</td>
      <td>United States</td>
      <td>1</td>
      <td>...</td>
      <td>The Cairo Chief of Police, William Petersen, r...</td>
      <td>"Police Chief Quits," Washington Post, January...</td>
      <td>"Cairo Police Chief Quits; Decries Local 'Mili...</td>
      <td>Christopher Hewitt, "Political Violence and Te...</td>
      <td>Hewitt Project</td>
      <td>-9</td>
      <td>-9</td>
      <td>0</td>
      <td>-9</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>197001020001</td>
      <td>1970</td>
      <td>1</td>
      <td>2</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>218</td>
      <td>Uruguay</td>
      <td>3</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>PGIS</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>197001020003</td>
      <td>1970</td>
      <td>1</td>
      <td>2</td>
      <td>NaN</td>
      <td>0</td>
      <td>NaN</td>
      <td>217</td>
      <td>United States</td>
      <td>1</td>
      <td>...</td>
      <td>The New Years Gang issue a communiqué to a loc...</td>
      <td>Tom Bates, "Rads: The 1970 Bombing of the Army...</td>
      <td>David Newman, Sandra Sutherland, and Jon Stewa...</td>
      <td>The Wisconsin Cartographers' Guild, "Wisconsin...</td>
      <td>Hewitt Project</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 135 columns</p>
</div>

In [6]:
# column names
data_set.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

## selecting the features

In [7]:
# gives  column location for given column name 

col_name = 'claimed'
data_set.columns.get_loc(col_name)

71

In [96]:
# data subset 
data_set_sub = data_set.iloc[:,  [1, 34, 7, 40, 9, 71, 15, 22, 25, 58, 28] ]

In [97]:
# columns selected for the sub data set
data_set_sub.columns

Index(['iyear', 'targtype1', 'country', 'natlty1', 'region', 'claimed',
       'specificity', 'doubtterr', 'multiple', 'gname', 'attacktype1'],
      dtype='object')

In [98]:
data_set_sub.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>iyear</th>
      <th>targtype1</th>
      <th>country</th>
      <th>natlty1</th>
      <th>region</th>
      <th>claimed</th>
      <th>specificity</th>
      <th>doubtterr</th>
      <th>multiple</th>
      <th>gname</th>
      <th>attacktype1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1970</td>
      <td>14</td>
      <td>58</td>
      <td>58.0</td>
      <td>2</td>
      <td>NaN</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>MANO-D</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1970</td>
      <td>7</td>
      <td>130</td>
      <td>21.0</td>
      <td>1</td>
      <td>NaN</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>23rd of September Communist League</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1970</td>
      <td>3</td>
      <td>217</td>
      <td>217.0</td>
      <td>1</td>
      <td>0.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>Black Nationalists</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1970</td>
      <td>3</td>
      <td>218</td>
      <td>218.0</td>
      <td>3</td>
      <td>NaN</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>Tupamaros (Uruguay)</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1970</td>
      <td>4</td>
      <td>217</td>
      <td>217.0</td>
      <td>1</td>
      <td>1.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>New Year's Gang</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
</div>

##spliting the data to test and train

In [99]:
# spliting the data 
from sklearn.model_selection import train_test_split
data_set_sub = data_set_sub.fillna(-20)
train, test = train_test_split(data_set_sub, test_size = 0.01)

In [100]:
train_x = train.iloc[ :,:].copy() 
test_x = test.iloc [ :,:].copy()
train_x.pop('gname')
test_x.pop('gname')
train_x =  train_x.astype(int)
test_x = test_x.astype(int)
train_y = train.gname.values
test_y = test.gname.values

In [101]:
train_x.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>iyear</th>
      <th>targtype1</th>
      <th>country</th>
      <th>natlty1</th>
      <th>region</th>
      <th>claimed</th>
      <th>specificity</th>
      <th>doubtterr</th>
      <th>multiple</th>
      <th>attacktype1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>35818</th>
      <td>1988</td>
      <td>3</td>
      <td>186</td>
      <td>186</td>
      <td>6</td>
      <td>-20</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>46539</th>
      <td>1991</td>
      <td>14</td>
      <td>45</td>
      <td>45</td>
      <td>3</td>
      <td>-20</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>43883</th>
      <td>1990</td>
      <td>2</td>
      <td>185</td>
      <td>69</td>
      <td>8</td>
      <td>-20</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>39136</th>
      <td>1989</td>
      <td>2</td>
      <td>603</td>
      <td>233</td>
      <td>8</td>
      <td>-20</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>13096</th>
      <td>1981</td>
      <td>14</td>
      <td>217</td>
      <td>217</td>
      <td>1</td>
      <td>-20</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [102]:
train_y

array(["People's Liberation Front (JVP)",
       'Revolutionary Armed Forces of Colombia (FARC)', 'Terra Lliure',
       ..., 'Shining Path (SL)',
       'Corsican National Liberation Front (FLNC)',
       'April 6th Liberation Movement'], dtype=object)

## creation of model

In [103]:
#Import Library
from sklearn.ensemble import RandomForestClassifier #use RandomForestRegressor for regression problem
#Assumed you have, X (predictor) and Y (target) for training data set and x_test(predictor) of test_dataset
# Create Random Forest object
model= RandomForestClassifier(n_estimators=10)
model.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [104]:
# model score
model.score(train_x, train_y)

0.87004678214692122

In [106]:
predicted= model.predict(test_x)

In [107]:
#accuracy 
count=0
for i in range(0, len(test_y)):
    if (predicted[i] == test_y[i] ):
        count +=1

print(" predicted accuracy % : ", round(float(count)/len(test_y) *100,2))

 predicted accuracy % :  69.25

# My prediction accuracy hovers around 69 to 71 %. I will try to imporve the prediction model in future.

## Step wise elimination method, it used to tell which features will give us the best prediction model

In [27]:
def feature_selction( data_set,columns):
    return data_set.iloc[:, columns ]

In [28]:
def split_data(data_set_sub,size):
    from sklearn.model_selection import train_test_split
    data_set_sub = data_set_sub.fillna(-20)
    train, test = train_test_split(data_set_sub, test_size = size)
    train_x = train.iloc[ :,:].copy() 
    test_x = test.iloc [ :,:].copy()
    train_x.pop('gname')
    test_x.pop('gname')
    train_x =  train_x.astype(int)
    test_x = test_x.astype(int)
    train_y = train.gname.values
    test_y = test.gname.values
    return train_x,train_y,test_x,test_y

In [29]:
def model_creation(train_x, train_y,estimatior_num):
    from sklearn.ensemble import RandomForestClassifier 
    model= RandomForestClassifier(n_estimators= estimatior_num)
    return model.fit(train_x,train_y)

In [30]:
def predict(test_x,model):
    return model.predict(test_x)
def model_score(train_x,train_y,model):
    return model.score(train_x, train_y)
def accuracy(predicted, test_y):
    count=0
    for i in range(0, len(test_y)):
        if (predicted[i] == test_y[i] ):
            count +=1
    return round(float(count)/len(test_y) *100,2)

In [94]:
def step_wise_elimination( data_set, input,data_split_size):
    import gc
    import time
    accuray_val=0
    columns = []
    model_score_best=int()
    for i in input:
        columns.append(58)
        columns.append(i)
        columns = list(set(columns))
        data_set_sub = feature_selction( data_set,columns)
        train_x,train_y,test_x,test_y = split_data(data_set_sub,data_split_size)
        try:
            model = model_creation(train_x, train_y,10)
            model_score_output = model.score(train_x, train_y)
            predicted = predict(test_x,model)
        except ValueError:
            print(test_x.columns)
            columns.remove(i)
            print("value error\n#####")
        accuracy_output  = accuracy(predicted, test_y)
        print(i,' row added) columns: ',columns,' model_score: ', model_score_output, ' accuracy: ', accuracy_output )
        if accuracy_output >= accuray_val:
            store_col = list(set(columns))
            accuray_val = accuracy_output
            print('best model is obtained by using columns: ', store_col)
        else:
            if columns.__contains__(i):
                columns.remove(i)
        if model_score_output> model_score_best:
            print("## above model is the best fit model so far ## ")
            model_score_best = model_score_output
    return store_col

In [95]:
input =[1, 7, 9,15,16,19,20,21,22, 25, 26, 27, 28, 34, 40, 58,65,68,71, 81,104,116]
input.sort()
col_best = step_wise_elimination( data_set, input,0.1)

print('###########')

print('best model based on accuracy is  is obtained by using columns: ', col_best)

1  row added) columns:  [1, 58]  model_score:  0.159443671766  accuracy:  14.42
best model is obtained by using columns:  [1, 58]
## above model is the best fit model so far ##

7  row added) columns:  [1, 58, 7]  model_score:  0.672712100139  accuracy:  63.68
best model is obtained by using columns:  [1, 58, 7]
## above model is the best fit model so far ##

9  row added) columns:  [1, 58, 9, 7]  model_score:  0.670681502086  accuracy:  65.91
best model is obtained by using columns:  [1, 58, 9, 7]

15  row added) columns:  [1, 7, 9, 15, 58]  model_score:  0.686258692629  accuracy:  66.18
best model is obtained by using columns:  [1, 7, 9, 15, 58]
## above model is the best fit model so far ##

16  row added) columns:  [1, 7, 9, 15, 16, 58]  model_score:  0.691043115438  accuracy:  64.36
## above model is the best fit model so far ##

19  row added) columns:  [1, 7, 9, 15, 19, 58]  model_score:  0.688456189152  accuracy:  65.48

20  row added) columns:  [1, 7, 9, 15, 20, 58]  model_score:  0.691627260083  accuracy:  64.41
## above model is the best fit model so far ##

21  row added) columns:  [1, 7, 9, 15, 21, 58]  model_score:  0.696022253129  accuracy:  65.51
## above model is the best fit model so far ##

22  row added) columns:  [1, 7, 9, 15, 22, 58]  model_score:  0.718720445063  accuracy:  66.26
best model is obtained by using columns:  [1, 7, 9, 15, 22, 58]
## above model is the best fit model so far ##

25  row added) columns:  [1, 7, 9, 15, 22, 25, 58]  model_score:  0.727872044506  accuracy:  67.51
best model is obtained by using columns:  [1, 7, 9, 15, 22, 25, 58]
## above model is the best fit model so far ##

26  row added) columns:  [1, 26, 7, 9, 15, 22, 25, 58]  model_score:  0.735799721836  accuracy:  66.71
## above model is the best fit model so far ##

27  row added) columns:  [1, 7, 9, 15, 22, 25, 58, 27]  model_score:  0.727983310153  accuracy:  67.13

28  row added) columns:  [1, 7, 9, 15, 22, 25, 58, 28]  model_score:  0.782559109875  accuracy:  68.94
best model is obtained by using columns:  [1, 7, 9, 15, 22, 25, 58, 28]
## above model is the best fit model so far ##

34  row added) columns:  [1, 34, 7, 9, 15, 22, 25, 58, 28]  model_score:  0.854436717663  accuracy:  69.19
best model is obtained by using columns:  [1, 34, 7, 9, 15, 22, 25, 58, 28]
## above model is the best fit model so far ##

40  row added) columns:  [1, 34, 7, 40, 9, 15, 22, 25, 58, 28]  model_score:  0.869568845619  accuracy:  69.26
best model is obtained by using columns:  [1, 34, 7, 40, 9, 15, 22, 25, 58, 28]
## above model is the best fit model so far ##

58  row added) columns:  [1, 34, 7, 40, 9, 15, 22, 25, 58, 28]  model_score:  0.869652294854  accuracy:  70.79
best model is obtained by using columns:  [1, 34, 7, 40, 9, 15, 22, 25, 58, 28]
## above model is the best fit model so far ##

65  row added) columns:  [1, 34, 65, 7, 40, 9, 15, 22, 25, 58, 28]  model_score:  0.878692628651  accuracy:  69.71
## above model is the best fit model so far ##

68  row added) columns:  [1, 34, 68, 7, 40, 9, 15, 22, 25, 58, 28]  model_score:  0.870264255911  accuracy:  70.26

71  row added) columns:  [1, 34, 7, 40, 9, 71, 15, 22, 25, 58, 28]  model_score:  0.872350486787  accuracy:  71.69
best model is obtained by using columns:  [1, 34, 7, 40, 9, 71, 15, 22, 25, 58, 28]

81  row added) columns:  [1, 34, 7, 40, 9, 71, 15, 81, 22, 25, 58, 28]  model_score:  0.882280945758  accuracy:  70.14
## above model is the best fit model so far ##

104  row added) columns:  [1, 34, 7, 40, 9, 71, 104, 15, 22, 25, 58, 28]  model_score:  0.878386648122  accuracy:  70.26

116  row added) columns:  [1, 34, 7, 40, 9, 71, 15, 116, 22, 25, 58, 28]  model_score:  0.873602225313  accuracy:  70.31
###########
best model based on accuracy is  is obtained by using columns:  [1, 34, 7, 40, 9, 71, 15, 22, 25, 58, 28]

## Step wise elimination to find the best model using various  test data set sizes [0.05, 0.1, 0.15, 0.2 ]

In [15]:
### step wise using various data_set sizes 

data_split_sizes =  np.array( list(range(5,25,5)))*0.01
input =[1, 7, 9,15,16,19,20,21,22, 25, 26, 27, 28, 34, 40, 58,65,68,71, 81,104,116]
print("\n###############################################\n")
for split_percent in data_split_sizes:
    print('\n\n\ntest data split size',  split_percent)
    col_best = step_wise_elimination( data_set, input,split_percent)
    print('####################################################')
    print('best model based on accuracy is  is obtained by using columns for test datasplit size:',split_percent
          ,' is ',col_best)

###############################################




test data split size 0.05

1  row added) columns:  [1, 58]  model_score:  0.157535510053  accuracy:  16.52
best model is obtained by using columns:  [1, 58]
## above model is the best fit model so far ##

7  row added) columns:  [1, 58, 7]  model_score:  0.670777663583  accuracy:  65.62
best model is obtained by using columns:  [1, 58, 7]
## above model is the best fit model so far ##

9  row added) columns:  [1, 58, 9, 7]  model_score:  0.669380978733  accuracy:  68.32
best model is obtained by using columns:  [1, 58, 9, 7]

15  row added) columns:  [1, 7, 9, 15, 58]  model_score:  0.686220254566  accuracy:  66.02
## above model is the best fit model so far ##

16  row added) columns:  [1, 7, 9, 16, 58]  model_score:  0.674335257069  accuracy:  64.06

19  row added) columns:  [1, 7, 9, 19, 58]  model_score:  0.672622341687  accuracy:  62.76

20  row added) columns:  [1, 7, 9, 20, 58]  model_score:  0.673333860384  accuracy:  67.22

21  row added) columns:  [1, 7, 9, 21, 58]  model_score:  0.679711176114  accuracy:  65.67

22  row added) columns:  [1, 7, 9, 22, 58]  model_score:  0.702558832055  accuracy:  65.02
## above model is the best fit model so far ##

25  row added) columns:  [1, 7, 9, 25, 58]  model_score:  0.681424091496  accuracy:  67.42

26  row added) columns:  [1, 26, 7, 9, 58]  model_score:  0.678050965821  accuracy:  63.91

27  row added) columns:  [1, 7, 9, 58, 27]  model_score:  0.671410124648  accuracy:  65.72

28  row added) columns:  [1, 7, 9, 58, 28]  model_score:  0.724062508235  accuracy:  68.62
best model is obtained by using columns:  [1, 7, 9, 58, 28]
## above model is the best fit model so far ##

34  row added) columns:  [1, 34, 7, 9, 58, 28]  model_score:  0.813107755554  accuracy:  66.42
## above model is the best fit model so far ##

40  row added) columns:  [1, 7, 40, 9, 58, 28]  model_score:  0.75950668037  accuracy:  67.52

58  row added) columns:  [1, 7, 9, 58, 28]  model_score:  0.724826732021  accuracy:  67.72

65  row added) columns:  [1, 65, 7, 9, 58, 28]  model_score:  0.738371939811  accuracy:  68.17

68  row added) columns:  [1, 68, 7, 9, 58, 28]  model_score:  0.725037552376  accuracy:  69.87
best model is obtained by using columns:  [1, 68, 7, 9, 58, 28]

71  row added) columns:  [1, 68, 7, 71, 9, 58, 28]  model_score:  0.731889213904  accuracy:  66.82

81  row added) columns:  [1, 68, 7, 9, 81, 58, 28]  model_score:  0.744011384299  accuracy:  67.67

104  row added) columns:  [1, 68, 7, 104, 9, 58, 28]  model_score:  0.735341397212  accuracy:  66.32

116  row added) columns:  [1, 68, 7, 9, 116, 58, 28]  model_score:  0.72925395947  accuracy:  68.22
####################################################
best model based on accuracy is  is obtained by using columns for test datasplit size: 0.05  is  [1, 68, 7, 9, 58, 28, 58, 71]



test data split size 0.1

1  row added) columns:  [1, 58]  model_score:  0.158414464534  accuracy:  15.34
best model is obtained by using columns:  [1, 58]
## above model is the best fit model so far ##

7  row added) columns:  [1, 58, 7]  model_score:  0.672016689847  accuracy:  64.31
best model is obtained by using columns:  [1, 58, 7]
## above model is the best fit model so far ##

9  row added) columns:  [1, 58, 9, 7]  model_score:  0.67140472879  accuracy:  65.01
best model is obtained by using columns:  [1, 58, 9, 7]

15  row added) columns:  [1, 7, 9, 15, 58]  model_score:  0.686675938804  accuracy:  65.86
best model is obtained by using columns:  [1, 7, 9, 15, 58]
## above model is the best fit model so far ##

16  row added) columns:  [1, 7, 9, 15, 16, 58]  model_score:  0.689568845619  accuracy:  65.68
## above model is the best fit model so far ##

19  row added) columns:  [1, 7, 9, 15, 19, 58]  model_score:  0.686314325452  accuracy:  66.66
best model is obtained by using columns:  [1, 7, 9, 15, 19, 58]

20  row added) columns:  [1, 7, 9, 15, 19, 20, 58]  model_score:  0.691349095967  accuracy:  65.53
## above model is the best fit model so far ##

21  row added) columns:  [1, 7, 9, 15, 19, 21, 58]  model_score:  0.69769123783  accuracy:  64.91
## above model is the best fit model so far ##

22  row added) columns:  [1, 7, 9, 15, 19, 22, 58]  model_score:  0.721001390821  accuracy:  65.51
## above model is the best fit model so far ##

25  row added) columns:  [1, 7, 9, 15, 19, 25, 58]  model_score:  0.70033379694  accuracy:  65.03

26  row added) columns:  [1, 26, 7, 9, 15, 19, 58]  model_score:  0.694937413074  accuracy:  65.63

27  row added) columns:  [1, 7, 9, 15, 19, 58, 27]  model_score:  0.688011126565  accuracy:  66.03

28  row added) columns:  [1, 7, 9, 15, 19, 58, 28]  model_score:  0.743365785814  accuracy:  66.51
## above model is the best fit model so far ##

34  row added) columns:  [1, 34, 7, 9, 15, 19, 58]  model_score:  0.772628650904  accuracy:  66.86
best model is obtained by using columns:  [1, 34, 7, 9, 15, 19, 58]
## above model is the best fit model so far ##

40  row added) columns:  [1, 34, 7, 40, 9, 15, 19, 58]  model_score:  0.798247566064  accuracy:  66.76
## above model is the best fit model so far ##

58  row added) columns:  [1, 34, 7, 9, 15, 19, 58]  model_score:  0.772350486787  accuracy:  67.06
best model is obtained by using columns:  [1, 34, 7, 9, 15, 19, 58]

65  row added) columns:  [1, 34, 65, 7, 9, 15, 19, 58]  model_score:  0.786369958275  accuracy:  66.98

68  row added) columns:  [1, 34, 68, 7, 9, 15, 19, 58]  model_score:  0.774297635605  accuracy:  65.86

71  row added) columns:  [1, 34, 7, 71, 9, 15, 19, 58]  model_score:  0.778497913769  accuracy:  66.68

81  row added) columns:  [1, 34, 7, 9, 15, 81, 19, 58]  model_score:  0.821891515994  accuracy:  66.38
## above model is the best fit model so far ##

104  row added) columns:  [1, 34, 7, 104, 9, 15, 19, 58]  model_score:  0.795299026426  accuracy:  67.86
best model is obtained by using columns:  [1, 34, 7, 104, 9, 15, 19, 58]

116  row added) columns:  [1, 34, 7, 104, 9, 15, 19, 116, 58]  model_score:  0.797162726008  accuracy:  67.28
####################################################
best model based on accuracy is  is obtained by using columns for test datasplit size: 0.1  is  [1, 34, 7, 104, 9, 15, 19, 58, 58, 116]



test data split size 0.15

1  row added) columns:  [1, 58]  model_score:  0.15662828027  accuracy:  16.52
best model is obtained by using columns:  [1, 58]
## above model is the best fit model so far ##

7  row added) columns:  [1, 58, 7]  model_score:  0.67083910111  accuracy:  64.94
best model is obtained by using columns:  [1, 58, 7]
## above model is the best fit model so far ##

9  row added) columns:  [1, 58, 9, 7]  model_score:  0.673048036992  accuracy:  64.24
## above model is the best fit model so far ##

15  row added) columns:  [1, 58, 15, 7]  model_score:  0.687774276205  accuracy:  64.29
## above model is the best fit model so far ##

16  row added) columns:  [16, 1, 58, 7]  model_score:  0.674903543133  accuracy:  64.34

19  row added) columns:  [1, 58, 19, 7]  model_score:  0.673048036992  accuracy:  64.84

20  row added) columns:  [1, 58, 20, 7]  model_score:  0.675021353047  accuracy:  64.67

21  row added) columns:  [1, 58, 21, 7]  model_score:  0.682678997438  accuracy:  64.02

22  row added) columns:  [1, 58, 22, 7]  model_score:  0.702883397638  accuracy:  66.67
best model is obtained by using columns:  [1, 58, 22, 7]
## above model is the best fit model so far ##

25  row added) columns:  [1, 7, 22, 25, 58]  model_score:  0.714045886961  accuracy:  66.82
best model is obtained by using columns:  [1, 7, 22, 25, 58]
## above model is the best fit model so far ##

26  row added) columns:  [1, 26, 7, 22, 25, 58]  model_score:  0.722439843313  accuracy:  65.97
## above model is the best fit model so far ##

27  row added) columns:  [1, 7, 22, 25, 58, 27]  model_score:  0.711807498601  accuracy:  67.34
best model is obtained by using columns:  [1, 7, 22, 25, 58, 27]

28  row added) columns:  [1, 7, 22, 25, 58, 27, 28]  model_score:  0.766706918387  accuracy:  67.57
best model is obtained by using columns:  [1, 7, 22, 25, 58, 27, 28]
## above model is the best fit model so far ##

34  row added) columns:  [1, 34, 7, 22, 25, 58, 27, 28]  model_score:  0.841899095809  accuracy:  67.12
## above model is the best fit model so far ##

40  row added) columns:  [1, 7, 40, 22, 25, 58, 27, 28]  model_score:  0.797190233558  accuracy:  69.39
best model is obtained by using columns:  [1, 7, 40, 22, 25, 58, 27, 28]

58  row added) columns:  [1, 7, 40, 22, 25, 58, 27, 28]  model_score:  0.79827997526  accuracy:  68.47

65  row added) columns:  [1, 65, 7, 40, 22, 25, 58, 27, 28]  model_score:  0.80782257827  accuracy:  68.99

68  row added) columns:  [1, 68, 7, 40, 22, 25, 58, 27, 28]  model_score:  0.79772037817  accuracy:  69.39
best model is obtained by using columns:  [1, 68, 7, 40, 22, 25, 58, 27, 28]

71  row added) columns:  [1, 68, 7, 40, 71, 22, 25, 58, 27, 28]  model_score:  0.802697847024  accuracy:  69.59
best model is obtained by using columns:  [1, 68, 7, 40, 71, 22, 25, 58, 27, 28]

81  row added) columns:  [1, 68, 71, 40, 7, 81, 22, 25, 58, 27, 28]  model_score:  0.813565811563  accuracy:  69.36

104  row added) columns:  [1, 68, 7, 40, 71, 104, 22, 25, 58, 27, 28]  model_score:  0.809648631932  accuracy:  67.72

116  row added) columns:  [1, 68, 71, 40, 7, 116, 22, 25, 58, 27, 28]  model_score:  0.803286896592  accuracy:  69.74
best model is obtained by using columns:  [1, 68, 71, 40, 7, 116, 22, 25, 58, 27, 28]
####################################################
best model based on accuracy is  is obtained by using columns for test datasplit size: 0.15  is  [1, 68, 71, 40, 7, 116, 22, 25, 58, 27, 28]



test data split size 0.2

1  row added) columns:  [1, 58]  model_score:  0.158123670046  accuracy:  15.71
best model is obtained by using columns:  [1, 58]
## above model is the best fit model so far ##

7  row added) columns:  [1, 58, 7]  model_score:  0.67201777444  accuracy:  64.74
best model is obtained by using columns:  [1, 58, 7]
## above model is the best fit model so far ##

9  row added) columns:  [1, 58, 9, 7]  model_score:  0.673926649143  accuracy:  64.2
## above model is the best fit model so far ##

15  row added) columns:  [1, 58, 15, 7]  model_score:  0.687852046564  accuracy:  64.76
best model is obtained by using columns:  [1, 58, 15, 7]
## above model is the best fit model so far ##

16  row added) columns:  [1, 7, 15, 16, 58]  model_score:  0.691450744774  accuracy:  64.54
## above model is the best fit model so far ##

19  row added) columns:  [1, 7, 15, 19, 58]  model_score:  0.690073851546  accuracy:  64.69

20  row added) columns:  [1, 7, 15, 20, 58]  model_score:  0.693140568281  accuracy:  64.13
## above model is the best fit model so far ##

21  row added) columns:  [1, 7, 15, 21, 58]  model_score:  0.698053573664  accuracy:  64.56
## above model is the best fit model so far ##

22  row added) columns:  [1, 7, 15, 22, 58]  model_score:  0.720866191013  accuracy:  65.57
best model is obtained by using columns:  [1, 7, 15, 22, 58]
## above model is the best fit model so far ##

25  row added) columns:  [1, 7, 15, 22, 25, 58]  model_score:  0.72915884341  accuracy:  67.08
best model is obtained by using columns:  [1, 7, 15, 22, 25, 58]
## above model is the best fit model so far ##

26  row added) columns:  [1, 26, 7, 15, 22, 25, 58]  model_score:  0.735511328076  accuracy:  66.98
## above model is the best fit model so far ##

27  row added) columns:  [1, 7, 15, 22, 25, 58, 27]  model_score:  0.729096257354  accuracy:  66.82

28  row added) columns:  [1, 7, 15, 22, 25, 58, 28]  model_score:  0.783702591063  accuracy:  68.04
best model is obtained by using columns:  [1, 7, 15, 22, 25, 58, 28]
## above model is the best fit model so far ##

34  row added) columns:  [1, 34, 7, 15, 22, 25, 58, 28]  model_score:  0.857491550882  accuracy:  67.71
## above model is the best fit model so far ##

40  row added) columns:  [1, 7, 40, 15, 22, 25, 58, 28]  model_score:  0.813305795469  accuracy:  68.41
best model is obtained by using columns:  [1, 7, 40, 15, 22, 25, 58, 28]

58  row added) columns:  [1, 7, 40, 15, 22, 25, 58, 28]  model_score:  0.813869069971  accuracy:  67.98

65  row added) columns:  [1, 65, 7, 40, 15, 22, 25, 58, 28]  model_score:  0.824759043685  accuracy:  68.37

68  row added) columns:  [1, 68, 7, 40, 15, 22, 25, 58, 28]  model_score:  0.813305795469  accuracy:  68.68
best model is obtained by using columns:  [1, 68, 7, 40, 15, 22, 25, 58, 28]

71  row added) columns:  [1, 68, 7, 40, 71, 15, 22, 25, 58, 28]  model_score:  0.818250093879  accuracy:  68.88
best model is obtained by using columns:  [1, 68, 7, 40, 71, 15, 22, 25, 58, 28]

81  row added) columns:  [1, 68, 71, 40, 7, 15, 81, 22, 25, 58, 28]  model_score:  0.830610839905  accuracy:  68.21

104  row added) columns:  [1, 68, 7, 40, 71, 104, 15, 22, 25, 58, 28]  model_score:  0.824946801853  accuracy:  68.33

116  row added) columns:  [1, 68, 71, 40, 7, 15, 116, 22, 25, 58, 28]  model_score:  0.822099136312  accuracy:  68.04
####################################################
best model based on accuracy is  is obtained by using columns for test datasplit size: 0.2  is  [1, 68, 7, 40, 71, 15, 22, 25, 58, 28, 58, 81]

### tried to come up with visualizations and confusion matrix but does not seem pratical